#textdomain wesnoth-Rage
[scenario]
    id=1_Despair
    name=_ "Despair"
    random_start_time=no
    map_data="{~add-ons/1Rage/maps/1_Despair.map}"
    next_scenario=2_Canyon_of_Death
    turns=-1
#    {TURNS 34 32 30}
    {SCENARIO_MUSIC weight_of_revenge.ogg}
#    {SCENARIO_MUSIC siege_of_laurelmor.ogg}
#    {EXTRA_SCENARIO_MUSIC the_city_falls.ogg}
#    {EXTRA_SCENARIO_MUSIC vengeful.ogg}
#    {EXTRA_SCENARIO_MUSIC loyalists.ogg}

    [story]
        [part]
            story= _ "Народ пустыни… В былые времена мало кто слышал об этом конгломерате южных племён; никому не было дела до их бесконечных клановых войн, до примитивной кочевой культуры. Жизнь бедуинов не выходила за рамки их собственных песков. Но время шло. Сильные племена подчиняли слабые. Постепенно единая держава пустыни поднимала голову из-за дюн."
        [/part]
        [part]
            story= _ "Когда в Весноте закончилось Вторжение с Востока, Народ пустыни уже заявил о себе на весь Юг. Сильные, деятельные, предприимчивые люди, нация торговцев, учёных, градостроителей, богатые и процветающие земли, забывшие дикие клановые законы – так рассказывали о себе вездесущие караваны из пустынь. Но то – они. А что могут сказать о Народе пустыни те, кто с ним столкнулся?"
        [/part]
    [/story]

    {DEFAULT_SCHEDULE}

    {DUSK}
    {FIRST_WATCH}
    {SECOND_WATCH}
    {DAWN}
    {MORNING}
    {AFTERNOON}
    
    [side]
        controller=human
        side=1
        id=Drake_Leader
        type=Drake Flare
        name=_"Washitt Konn"
        unrenamable=yes
        experience=18
        [modifications]
            {TRAIT_INTELLIGENT}
            {TRAIT_RESILIENT}
        [/modifications]
        save_id=Drakes
        gold=0
        team_name=drakes
        user_team_name= _ "Drakes"
        color=orange
        fog=yes
        [unit]
            type=Drake Burner
            generate_name=yes
            experience=10
            [modifications]
                {TRAIT_LOYAL}
                {TRAIT_INTELLIGENT}
            [/modifications]
            x,y=15,4
        [/unit]
        [unit]
            type=Drake Glider
            generate_name=yes
            experience=8
            [modifications]
                {TRAIT_LOYAL}
                {TRAIT_INTELLIGENT}
            [/modifications]
            x,y=16,5
        [/unit]
        [unit]
            type=Drake Glider
            generate_name=yes
            experience=8
            [modifications]
                {TRAIT_LOYAL}
                {TRAIT_INTELLIGENT}
            [/modifications]
            x,y=17,5
        [/unit]
        share_vision=yes
    [/side]
    [side]
        controller=ai
        side=2
        canrecruit=yes
        {GOLD 150 180 225}
        id=Drake_Thrasher
        type=Drake Thrasher
        hitpoints=20
        experience=30
        [modifications]
            {TRAIT_LOYAL}
            {TRAIT_INTELLIGENT}
        [/modifications]
        team_name=drakes
        user_team_name= _ "Drakes"
        x,y=9,6
        facing=ne
        color=brown
        fog=yes
        share_vision=yes
        [unit]
            type=Drake Fighter
            generate_name=yes
            hitpoints=12
            experience=10
            random_traits=yes
            x,y=10,4
            [modifications]
                {TRAIT_LOYAL}
                {TRAIT_INTELLIGENT}
            [/modifications]
        [/unit]
        [unit]
            type=Drake Burner
            generate_name=yes
            hitpoints=12
            experience=10
            random_traits=yes
            x,y=12,4
            [modifications]
                {TRAIT_LOYAL}
                {TRAIT_INTELLIGENT}
            [/modifications]
        [/unit]
        [unit]
            type=Saurian Skirmisher
            generate_name=yes
            hitpoints=9
            experience=8
            random_traits=yes
            x,y=9,8
            [modifications]
                {TRAIT_LOYAL}
                {TRAIT_INTELLIGENT}
            [/modifications]
        [/unit]
        [unit]
            type=Saurian Augur
            generate_name=yes
            hitpoints=7
            experience=7
            random_traits=yes
            x,y=10,8
            [modifications]
                {TRAIT_LOYAL}
                {TRAIT_RESILIENT}
            [/modifications]
        [/unit]
    [/side]
    [event]
        name=start
        [lock_view][/lock_view]
        {FADE_IN}
        [message]
            speaker=Drake_Leader
            message= _ "Будьте прокляты, пустынники! Наш дом, наше племя! Что они сделали?!"
        [/message]
        [message]
            x,y=12,4
            message= _ "День назад пришёл большой караван... Требовали много оружия по сниженной цене..."
        [/message]
        [message]
            speaker=Drake_Thrasher
            message= _ "Вождь отказался понижать цену. Они стали угрожать. Тогда он сказал им убираться... Пустынники сказали, что уходят. А на рассвете привели войско. Мы бились храбро, но их было слишком много."
        [/message]
        [message]
            x,y=10,4
            message= _ "Они забрали всё. Даже яица. Гнёзда сожгли. А нас оставили умирать. Их гадкие черномазые морды ухмылялись над нашим бессилием... "
        [/message]
        [message]
            speaker=Drake_Leader
            message= _ "А мы были на охоте! Арррр!"
            sound={SOUND_LIST:DRAKE_HIT}
        [/message]
        [message]
            speaker=Drake_Thrasher
            message= _ "Не терзай себя. Отряд охотников ничего бы не изменил. Ты сын вождя. Вождь погиб, теперь ты главный. Что нам делать?"
        [/message]
        [message]
            speaker=Drake_Leader
            message= _ "Моё сердце переполняет ненависть. Мои клинки хотят перерубать шеи пустынников. Братья! Без потомства у нас нет будущего, но если нашему племени суждено сдохнуть, мы сделаем это, сражаясь! Мы отправимся в последний поход. Мы будем мстить им. Мы разрушим их дома и сожжём заживо семьи. Мы оставим им всю боль, которая переполняет нас, и отправимся к предкам! Кто со мной!"
        [/message]
        [message]
            speaker=narrator
            message= _ "Выжившие дрейки, все до одного, подняли к нему оружие и издали яростный рык. Так начался их последний кровавый поход."
        [/message]
        [sound]
            name={SOUND_LIST:DRAKE_HIT}
        [/sound]
        [delay]
            time=300
        [/delay]
        [sound]
            name={SOUND_LIST:DRAKE_HIT}
        [/sound]
        [delay]
            time=300
        [/delay]
        [sound]
            name={SOUND_LIST:DRAKE_HIT}
        [/sound]
        {MODIFY_UNIT side=2 canrecruit no}
        {MODIFY_UNIT side=2 side 1}

        [unlock_view][/unlock_view]
        
    [/event]
    [event]
        name=prestart
        [item]
            image="scenery/nest-empty.png"
            halo=scenery/flames[01~15].png:50
            x,y=12,5
        [/item]
        [item]
            image="scenery/nest-empty.png"
            halo=scenery/flames[01~15].png:50
            x,y=14,5
        [/item]
        [item]
            image="scenery/nest-empty.png"
            halo=scenery/flames[01~15].png:50
            x,y=13,7
        [/item]
        [sound_source]
            id=burning_nests
            sounds=ambient/campfire.ogg
            delay=9000
            chance=100
            check_fogged=no
            check_shrouded=yes
            x,y=13,6
            full_range=5
            fade_range=3
            loop=-1
        [/sound_source]
        {FADE_TO_BLACK}
    [/event]
    {RAGE_BUFF_EVENTS}
[/scenario]

