#textdomain wesnoth-Rage
[scenario]
    id=2_Canyon_of_Death
    name=_ "Canyon of Death"
    random_start_time=no
    victory_when_enemies_defeated=no
    map_data="{~add-ons/1Rage/maps/2_Canyon_of_Death.map}"
    next_scenario=3_Frontier
    turns={ON_DIFFICULTY 9 8 7}
    {SCENARIO_MUSIC camel_soup.ogg}
#    {SCENARIO_MUSIC siege_of_laurelmor.ogg}
#    {EXTRA_SCENARIO_MUSIC the_city_falls.ogg}
#    {EXTRA_SCENARIO_MUSIC vengeful.ogg}
#    {EXTRA_SCENARIO_MUSIC loyalists.ogg}

    {DEFAULT_SCHEDULE}

    [story]
        [part]
            background="portraits/drakes/flameheart.png"
            story= _ "I remember how it all started. Their stinking caravans flooded these lands and began to spread their lies."
            music=TheDeadlyYear.ogg
        [/part]
        [part]
            background="portraits/drakes/flameheart.png"
            story= _ "They said they were merchants. When they went with the goods, they were. But on their way back, their hands held scimitars and bows, they robbed the weak. Lie!"
        [/part]
        [part]
            background="portraits/drakes/flameheart.png"
            story= _ "They said they love knowledge and study the world. But they need this knowledge to make fire-spitters like our breath and burn down the weak. Lie!"
        [/part]
        [part]
            background="portraits/drakes/flameheart.png"
            story= _ "They said they live in big cities. But bands of foul-smelling horsemen constantly arrive from the desert, who, like savages, terrorize the local tribes. Lie!"
        [/part]
        [part]
            background="portraits/drakes/flameheart.png"
            story= _ "The Dunefolk are a lie. These are dirty, treacherous and insidious creatures. They brought pain and turmoil to our region."
        [/part]
        [part]
            background="portraits/drakes/flameheart.png"
            story= _ "We will repay them in full and drive them back into the desert. We will fight until the last throat of their kinsman is slit open or we perish. Drakes hate lies; our campaign against the Dunefolk will be the sound prove of our principle!"
        [/part]
    [/story]
    
    [side]
        controller=human
        side=1
        id=Drake_Leader
        type=Drake Flare
        name=_"Washitt Konn"
        unrenamable=yes
        [modifications]
            {TRAIT_INTELLIGENT}
            {TRAIT_RESILIENT}
        [/modifications]
        save_id=Drakes
        gold=0
        income=-2
        village_gold=0
        team_name=drakes
        user_team_name= _ "Drakes"
        color=orange
        fog=yes
    [/side]
    [side]
        controller=ai
        side=2
        canrecruit=yes
        no_leader=yes
        team_name=dunefolk
        user_team_name= _ "Dunefolk"
        [ai]
            aggression=1.0
            caution=0.0
        [/ai]
        [unit]
            id=guard1
            type=Dune Spearguard
            generate_name=yes
            random_traits=no#to make it a bit easier for players to kill the guards, while their units are still kinda underleveled
            moves=0
            max_moves=0
            x,y=7,17
            ai_special=guardian
            #ifdef EASY
            [modifications]
                {TRAIT_AGED}
            [/modifications]
            #endif
        [/unit]
        [unit]
            id=guard2
            type=Dune Spearguard
            generate_name=yes
            random_traits=no#to make it a bit easier for players to kill the guards, while their units are still kinda underleveled
            moves=0
            max_moves=0
            x,y=9,7
            ai_special=guardian
            #ifdef EASY
            [modifications]
                {TRAIT_AGED}
            [/modifications]
            #endif
        [/unit]
        [unit]
            id=guard3
            type=Dune Spearguard
            generate_name=yes
            random_traits=no#to make it a bit easier for players to kill the guards, while their units are still kinda underleveled
            moves=0
            max_moves=0
            x,y=17,2
            ai_special=guardian
            #ifdef EASY
            [modifications]
                {TRAIT_AGED}
            [/modifications]
            #endif
        [/unit]
    [/side]
    [event]
        name=start
        {REPEAT 30 (
        [recall]
            side=1
            trait=loyal
            animate=yes
        [/recall]
        )}
        [redraw][/redraw]

        [message]
            speaker=Drake_Leader
            message= _ "The main trade route of the Dunefolk lies through this gorge. We will slaughter them and drown the mountains with blood. We will make them fret. And when they send an army to find out what's going on here, we will bypass them and attack their settlements."
        [/message]
        [message]
            speaker=Drake_Leader
            message= _ "First of all, we must raze their strongholds to the ground. Then the caravans will have nowhere to rest and hide, they will be defenseless like sheep. Let us begin!"
        [/message]
    [/event]
    [event]
        name=prestart
        {VARIABLE obj_caravans_left 9}
        [capture_village]
            side=1
            x,y=3,4
            radius=1
        [/capture_village]
        [objectives]
            [objective]
                description= _ "Destroy the outposts (tiles guarded by the spearguards) by moving onto them"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Washitt Konn"
                condition=lose
            [/objective]
            {TURNS_RUN_OUT}
        [/objectives]
        [micro_ai]
            side=2
            ai_type=goto
            action=add
            ca_id=caravans
            [filter]
                type=Dune Caravan
            [/filter]
            #tries to reach the southern edgeo of the map
            [filter_location]
                y=19
            [/filter_location]
            ca_score=210001
            unique_goals=yes
            ignore_units=yes
        [/micro_ai]
#        {FORCE_CHANCE_TO_HIT (side=1
#        [not]
#            type_adv_tree=Saurian Augur
#        [/not]
#        ) (id=guard1,guard2,guard3) 60 ()}#increased chance to hit for drakes, to make this a bit less-dependent on hard
#        #repeating more than necessary just in case the player gets more units later
    [/event]

    [event]
        name=outposts destroyed
        [modify_turns]
            add=23
        [/modify_turns]
        [message]
            speaker=Drake_Leader
            message= _ "Good! Now we need to set up an ambush and destroy everyone who enters the gorge."
        [/message]
        [objectives]
            [objective]
                description= _ "Wait until the caravans arrive"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Washitt Konn"
                condition=lose
            [/objective]
            {TURNS_RUN_OUT}
            delayed_variable_substitution=yes
        [/objectives]
        [show_objectives][/show_objectives]
    [/event]

    [event]
        name=turn 9
        [unit]
            type=Dune Caravan
            side=2
            generate_name=yes
            random_traits=yes
            x,y=16,1
            [modifications]
                {TRAIT_LOYAL_HERO}
            [/modifications]
            animate=yes
        [/unit]
        [unit]
            type=Dune Caravan
            side=2
            generate_name=yes
            random_traits=yes
            x,y=16,1
            [modifications]
                {TRAIT_LOYAL_HERO}
            [/modifications]
            animate=yes
        [/unit]
        [unit]
            type=Dune Caravan
            side=2
            generate_name=yes
            random_traits=yes
            x,y=16,1
            [modifications]
                {TRAIT_LOYAL_HERO}
            [/modifications]
            animate=yes
        [/unit]

        {REPEAT {ON_DIFFICULTY 2 3 4} (
            {VARIABLE_OP dunefolk_rand_type rand (Dune Rover,Dune Soldier,Dune Skirmisher,Dune Rider,Dune Herbalist,Dune Burner)}
            [unit]
                type=$dunefolk_rand_type
                side=2
                generate_name=yes
                random_traits=yes
                x,y=16,1
                animate=yes
            [/unit]
        )}

        {REPEAT {ON_DIFFICULTY 1 1 2} (
            {VARIABLE_OP dunefolk_rand_type rand (Dune Explorer,Dune Scorcher,Dune Apothecary)}#only spawn weak lvl2s on the first wave, to give players a chance to level up more easily
            [unit]
                type=$dunefolk_rand_type
                side=2
                generate_name=yes
                random_traits=yes
                x,y=16,1
                animate=yes
            [/unit]
        )}
        {REPLACE_SCENARIO_MUSIC siege_of_laurelmor.ogg}
        {APPEND_MUSIC casualties_of_war.ogg}

        [message]
            speaker=Drake_Leader
            message= _ "The first caravan is coming! Give them hell."
        [/message]
        [objectives]
            [objective]
                description= _ "Destroy every caravan ($obj_caravans_left| left)"
                condition=win
            [/objective]
            [objective]
                description= _ "Any caravan reaches the southern edge of the map"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Washitt Konn"
                condition=lose
            [/objective]
            [note]
                description=_"Caravans (and their guards) will spawn every 7 turns"
            [/note]
            {TURNS_RUN_OUT}
            delayed_variable_substitution=yes
        [/objectives]
        [show_objectives][/show_objectives]
    [/event]

    [event]
        name=turn 15
        [unit]
            type=Dune Caravan
            side=2
            generate_name=yes
            random_traits=yes
            x,y=16,1
            [modifications]
                {TRAIT_LOYAL_HERO}
            [/modifications]
            animate=yes
        [/unit]
        [unit]
            type=Dune Caravan
            side=2
            generate_name=yes
            random_traits=yes
            x,y=16,1
            [modifications]
                {TRAIT_LOYAL_HERO}
            [/modifications]
            animate=yes
        [/unit]
        [unit]
            type=Dune Caravan
            side=2
            generate_name=yes
            random_traits=yes
            x,y=16,1
            [modifications]
                {TRAIT_LOYAL_HERO}
            [/modifications]
            animate=yes
        [/unit]

        {REPEAT {ON_DIFFICULTY 3 3 4} (
            {VARIABLE_OP dunefolk_rand_type rand (Dune Rover,Dune Soldier,Dune Skirmisher,Dune Rider,Dune Herbalist,Dune Burner)}
            [unit]
                type=$dunefolk_rand_type
                side=2
                generate_name=yes
                random_traits=yes
                x,y=16,1
                animate=yes
            [/unit]
        )}

        {REPEAT {ON_DIFFICULTY 2 3 4} (
            {VARIABLE_OP dunefolk_rand_type rand (Dune Explorer,Dune Swordsman,Dune Spearguard,Dune Scorcher,Dune Apothecary,Dune Captain)}
            [unit]
                type=$dunefolk_rand_type
                side=2
                generate_name=yes
                random_traits=yes
                x,y=16,1
                animate=yes
            [/unit]
        )}
    [/event]

    [event]
        name=turn 21
        [unit]
            type=Dune Caravan
            side=2
            generate_name=yes
            random_traits=yes
            x,y=16,1
            [modifications]
                {TRAIT_LOYAL_HERO}
            [/modifications]
            animate=yes
        [/unit]
        [unit]
            type=Dune Caravan
            side=2
            generate_name=yes
            random_traits=yes
            x,y=16,1
            [modifications]
                {TRAIT_LOYAL_HERO}
            [/modifications]
            animate=yes
        [/unit]
        [unit]
            type=Dune Caravan
            side=2
            generate_name=yes
            random_traits=yes
            x,y=16,1
            [modifications]
                {TRAIT_LOYAL_HERO}
            [/modifications]
            animate=yes
        [/unit]

        {REPEAT {ON_DIFFICULTY 3 4 4} (
            {VARIABLE_OP dunefolk_rand_type rand (Dune Rover,Dune Soldier,Dune Skirmisher,Dune Rider,Dune Herbalist,Dune Burner)}
            [unit]
                type=$dunefolk_rand_type
                side=2
                generate_name=yes
                random_traits=yes
                x,y=16,1
                animate=yes
            [/unit]
        )}

        {REPEAT {ON_DIFFICULTY 3 4 5} (
            {VARIABLE_OP dunefolk_rand_type rand (Dune Explorer,Dune Swordsman,Dune Spearguard,Dune Scorcher,Dune Apothecary,Dune Captain)}
            [unit]
                type=$dunefolk_rand_type
                side=2
                generate_name=yes
                random_traits=yes
                x,y=16,1
                animate=yes
            [/unit]
        )}
    [/event]

    [event]
        name=die
        first_time_only=no
        [filter]
            type=Dune Caravan
        [/filter]
        {VARIABLE_OP obj_caravans_left sub 1}
        {IF_VAR obj_caravans_left less_than 1 (
        [then]
        [endlevel]
            result=victory
        [/endlevel]
        [/then]
        )}
    [/event]

    [event]
        name=victory

        {REPLACE_SCENARIO_MUSIC weight_of_revenge.ogg}

        {FADE_TO_BLACK}

        [hide_unit]
            side=1,2
        [/hide_unit]

        [kill]
            side=2
            animate=no
            fire_event=no
        [/kill]

        [item]
            image="items/burial.png"
            x,y=7,11
        [/item]

        [item]
            image="items/burial.png"
            x,y=14,13
        [/item]

        [item]
            image="items/burial.png"
            x,y=11,15
        [/item]

        [item]
            image="items/burial.png"
            x,y=8,13
        [/item]

        [store_unit]
            [filter]
                side=1
            [/filter]
            variable=teleporting_units
            kill=no
        [/store_unit]
        [foreach]
            array=teleporting_units
            index_var=i
            [do]
                {TELEPORT_UNIT id=$this_item.id 10 13}
            [/do]
        [/foreach]
        {CLEAR_VARIABLE teleporting_units}

        [delay]
            time=1000
        [/delay]

        [unhide_unit]
            side=1,2
        [/unhide_unit]

        {FADE_IN}

        [message]
            speaker=Drake_Leader
            message= _ "We've turned the gorge into a graveyard! The cowardly sand-dwellers will avoid it like the plague. Soon they will bring an army here, huge as always. But we will have left by that time. It's time for us to move on to the border!"
        [/message]
    [/event]

    [event]
        name=moveto
        [filter]
            type=Dune Caravan
            y=19
        [/filter]

        [message]
            speaker=Drake_Leader
            message= _ "Arr! We missed the caravan!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

    [event]
        name=time over
        {IF_VAR rage_s2_outposts greater_than_equal_to 3 (
        [then]
        [message]
            speaker=Drake_Leader
            message= _ "Arrr! We've been here too long!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
        [/then]
        [else]
        [message]
            speaker=Drake_Leader
            message= _ "Arrr! Their caravans will remain protected, we will not be able to cut them off!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
        [/else]
        )}
    [/event]

    [event]
        name=last breath
        [filter]
            id=Drake_Leader
        [/filter]
        [message]
            speaker=unit
            message= _ "Uuugh..."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

    {RAGE_BUFF_EVENTS}
    {RAGE_DESTRUCTIBLE_VILLAGE_EVENT (x,y=9,7) (
       {VARIABLE_OP rage_s2_outposts add 1}
       {IF_VAR rage_s2_outposts greater_than_equal_to 3 (
       [then]
       [fire_event]
           name=outposts destroyed
       [/fire_event]
       [/then]
       )}
    )}
    {RAGE_DESTRUCTIBLE_VILLAGE_EVENT (x,y=7,17) (
       {VARIABLE_OP rage_s2_outposts add 1}
       {IF_VAR rage_s2_outposts greater_than_equal_to 3 (
       [then]
       [fire_event]
           name=outposts destroyed
       [/fire_event]
       [/then]
       )}
    )}
    {RAGE_DESTRUCTIBLE_VILLAGE_EVENT (x,y=17,2) (
       {VARIABLE_OP rage_s2_outposts add 1}
       {IF_VAR rage_s2_outposts greater_than_equal_to 3 (
       [then]
       [fire_event]
           name=outposts destroyed
       [/fire_event]
       [/then]
       )}
    )}
[/scenario]

