#textdomain wesnoth-Rage
[scenario]
    id=4_Rage
    name=_ "Rage"
    random_start_time=no
#    victory_when_enemies_defeated=no
    map_data="{~add-ons/1Rage/maps/4_Rage.map}"
    next_scenario=5_Toll_of_Blood
    {TURNS 30 28 25}
    {SCENARIO_MUSIC siege_of_laurelmor.ogg}
    {EXTRA_SCENARIO_MUSIC SuspenseAction.ogg}
    {EXTRA_SCENARIO_MUSIC the_city_falls.ogg}
#    {EXTRA_SCENARIO_MUSIC vengeful.ogg}

    {DUSK}
    {FIRST_WATCH}
    {SECOND_WATCH}
    {DAWN}
    {MORNING}
    {AFTERNOON}

    [story]
        [part]
            background="portraits/drakes/flameheart.png"
            story= _ "Muscles are still cramping from the battle with the nomads. Never in my life have I fought like this. How many dark-haired heads I cut down with the blows of my blades! I'm sure our fallen brothers look upon on us with pride."
            music=TheDeadlyYear.ogg
        [/part]
        [part]
            background="portraits/drakes/flameheart.png"
            story= _ "Honestly, I envy them. Their souls were reunited with the tribe in the Primordial Fire, and we are still here. No matter how many deserters we kill, pain and hatred cannot be quenched. Life has become an endless carnage. A vicious circle. We want to get into the Primordial Fire, but every kill moves us away from it."
        [/part]
        [part]
            background="portraits/drakes/flameheart.png"
            story= _ "The feeble bodies of the deserters are torn apart too easily under our blows. They burn out too easily. As soon as we kill half of them, the rest immediately run away. So begins a hunt, a massacre. My whole body is smeared with their blood. And so every time..."
        [/part]
        [part]
            background="portraits/drakes/flameheart.png"
            story= _ "We’ve reached the ruined fortress of the deserters. From the towers you can see the city to the south. At sunset, we'll go on the assault. We must slaughter them all. Maybe then it will get easier."
        [/part]
    [/story]

    [side]
        controller=human
        side=1
        id=Drake_Leader
        type=Drake Flare
        name=_"Washitt Konn"
        unrenamable=yes
        [modifications]
            {TRAIT_INTELLIGENT}
            {TRAIT_RESILIENT}
        [/modifications]
        save_id=Drakes
        gold=0
        income=-2
        village_gold=0
        team_name=drakes
        user_team_name= _ "Drakes"
        color=orange
#        fog=yes
    [/side]

    [side]
        controller=ai
        side=2
        canrecruit=yes
        team_name=dunefolk
        user_team_name= _ "Dunefolk"
        id=enemy1
        type=Dune Vizier
        name=_"Muhammad"
        gold={ON_DIFFICULTY 150 200 250}
        village_income=2
        recruit=Dune Rover,Dune Soldier,Dune Rider,Dune Herbalist,Dune Swordsman,Dune Captain,Dune Spearguard,Dune Apothecary,Dune Skirmisher,Dune Strider,Dune Falconer,Dune Explorer,Dune Sunderer,Dune Raider,Dune Horse Archer,Dune Alchemist
        [ai]
            aggression=1.0
            caution=0.0
            passive_leader=yes
        [/ai]
    [/side]

    [side]
        controller=ai
        side=3
        canrecruit=yes
        team_name=dunefolk
        user_team_name= _ "Dunefolk"
        no_leader=yes
        gold={ON_DIFFICULTY 300 400 500}
        income={ON_DIFFICULTY 20 30 40}
        recruit=Dune Rover,Dune Soldier,Dune Rider,Dune Herbalist,Dune Swordsman,Dune Captain,Dune Spearguard,Dune Apothecary,Dune Skirmisher,Dune Strider,Dune Falconer,Dune Explorer,Dune Sunderer,Dune Raider,Dune Horse Archer,Dune Alchemist
        [ai]
            aggression=1.0
            caution=0.0
            passive_leader=yes
        [/ai]
        defeat_condition=no_units_left#that way players can still hunt down fleeings units for the perks
    [/side]

    [side]
        controller=ai
        side=4
        canrecruit=yes
        team_name=dunefolk
        user_team_name= _ "Dunefolk"
        no_leader=yes
        gold={ON_DIFFICULTY 300 400 500}
        income={ON_DIFFICULTY 20 30 40}
        recruit=Dune Rover,Dune Soldier,Dune Rider,Dune Herbalist,Dune Swordsman,Dune Captain,Dune Spearguard,Dune Apothecary,Dune Skirmisher,Dune Strider,Dune Falconer,Dune Explorer,Dune Sunderer,Dune Raider,Dune Horse Archer,Dune Alchemist
        [ai]
            aggression=1.0
            caution=0.0
            passive_leader=yes
        [/ai]
        defeat_condition=no_units_left#that way players can still hunt down fleeings units for the perks
    [/side]

    [event]
        name=start
        #repeating more than necessary just in case the player gets more units later
        {REPEAT 30 (
        [recall]
            side=1
            trait=loyal
            animate=yes
        [/recall]
        )}
        [redraw][/redraw]

        [message]
            speaker=Drake_Leader
            message= _ "The sun is setting. It's time. We will approach the city under the cover of night and give the deserters what they deserve."
        [/message]
    [/event]
    [event]
        name=prestart
        [capture_village]
            side=2
            y=18-28
        [/capture_village]

#starting enemies:

        {SCATTER_UNITS 99 (Dune Swordsman,Dune Spearguard,Dune Explorer) 0 (
            x=8-31
            y=18-28
            [and]
                terrain=C*
                [not]
                    x,y=19,25
                    radius=1
                [/not]
            [/and]
        ) (
            side=2
            generate_name=yes
            random_traits=yes
            ai_special=guardian
            [modifications]
                {TRAIT_LOYAL}
            [/modifications]
        )}

        {SCATTER_UNITS 99 (Dune Blademaster,Dune Spearmaster,Dune Wayfarer) 0 (
            x=8-31
            y=18-28
            [and]
                terrain=K*
                [not]
                    x,y=19,25
                    radius=1
                [/not]
            [/and]
        ) (
            side=2
            generate_name=yes
            random_traits=yes
            ai_special=guardian
            [modifications]
                {TRAIT_LOYAL}
            [/modifications]
        )}

        {VARIABLE rage_s4_kills 0}

        [objectives]
            [objective]
                description= _ "Kill the southern leader"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Washitt Konn"
                condition=lose
            [/objective]
            {TURNS_RUN_OUT}
        [/objectives]
    [/event]

    [event]
        name=start
        [message]
            speaker=Drake_Leader
            message= _ "The sun is setting. It's time. We will approach the city under the cover of night and give the deserters what they deserve."
        [/message]
    [/event]

    [event]
        name=moveto
        [filter]
            side=1
            y=10-28
        [/filter]

        [unit]
            id=huntress
            type=Dune Sky Hunter
            generate_name=yes
            side=2
            x,y=19,14
            animate=yes
        [/unit]

        {SCATTER_UNITS {ON_DIFFICULTY 6 8 10} (Dune Strider,Dune Falconer) 0 (
            x,y=19,14
            radius=3
        ) (
            side=2
            generate_name=yes
            random_traits=yes
            animate=yes
        )}

        [message]
            speaker=huntress
            message=_"It's time!"
        [/message]

        [sound]
            name={SOUND_LIST:GRYPHON_HIT}
        [/sound]

        [unit]
            id=enemy2
            type=Dune Spearmaster
            generate_name=yes
            side=3
            x,y=1,18
            canrecruit=yes
            animate=yes
        [/unit]

        {MOVE_UNIT id=enemy2 6 16}

        [terrain]
            terrain=Ce
            x,y=6,16
            radius=1
        [/terrain]

        [terrain]
            terrain=Ke
            x,y=6,16
        [/terrain]

        [unit]
            id=enemy3
            type=Dune Warmaster
            generate_name=yes
            side=4
            x,y=34,10
            canrecruit=yes
            animate=yes
        [/unit]

        {MOVE_UNIT id=enemy3 32 9}

        [terrain]
            terrain=Ce
            x,y=32,9
            radius=1
        [/terrain]

        [terrain]
            terrain=Ke
            x,y=32,9
        [/terrain]

        [message]
            speaker=enemy2
            message=_"Sha, those stupid creatures are really trying to attack the city!"
        [/message]
        [message]
            speaker=enemy3
            message=_"What is this gang? I thought we were talking about a whole army of drakes!"
        [/message]
        [message]
            speaker=enemy2
            message=_"Me too! The cowardly governor made us ambush a bunch of marauders. Yish! Let's sweep them away like sand from a cape, and then let's go to the Padishah, let him make the governor pay for disrespecting us!"
        [/message]
        [message]
            speaker=Drake_Leader
            message= _ "We must break into the city at any cost! We will slaughter this sheep flock later."
        [/message]

        [objectives]
            [objective]
                description= _ "Kill the southern leader"
                condition=win
                [show_if]
                    [have_unit]
                        id=enemy1
                    [/have_unit]
                [/show_if]
            [/objective]
            [objective]
                description= _ "Kill 20 green/purple dunefolk enemies ($rage_s4_kills|/20)"
                condition=win
                [show_if]
                    {VARIABLE_CONDITIONAL rage_s4_flee_started not_equals yes}
                [/show_if]
            [/objective]
            [objective]
                description= _ "Kill all remaining enemies"
                condition=win
                [show_if]
                    {VARIABLE_CONDITIONAL rage_s4_flee_started equals yes}
                [/show_if]
            [/objective]
            [objective]
                description= _ "Any caravan reaches the southern edge of the map"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Washitt Konn"
                condition=lose
            [/objective]
            [note]
                description=_"Caravans (and their guards) will spawn every 7 turns"
            [/note]
            {TURNS_RUN_OUT}
            delayed_variable_substitution=yes
        [/objectives]
        [show_objectives][/show_objectives]
    [/event]

    [event]
        name=moveto
        first_time_only=no
        [filter]
            side=3,4
            x=1,34
        [/filter]
        {IF_VAR rage_s4_flee_started equals yes (
        [then]
            [kill]
                id=$unit.id
                animate=no
                fire_event=no
            [/kill]
        [/then]
        )}
    [/event]

    [event]
        name=die
        id=rage_check_retreat
        first_time_only=no
        [filter]
            side=3,4
        [/filter]

        {VARIABLE_OP rage_s4_kills add 1}

        #if a leader dies early, trigger the retreat early too
        {IF_VAR unit.canrecruit equals yes (
        [then]
            {VARIABLE_OP rage_s4_kills add 20}
        [/then]
        )}

        [if]
            {VARIABLE_CONDITIONAL rage_s4_kills greater_than_equal_to 20}
            [and]
                {VARIABLE_CONDITIONAL rage_s4_flee_started not_equals yes}
            [/and]
            [then]
            {VARIABLE rage_s4_flee_started yes}
            [message]
                speaker=enemy2
                message=_"Sha! Something went wrong. I... have to leave for reinforcements!"
            [/message]
            {MOVE_UNIT id=enemy2 1 18}
            [kill]
                id=enemy2
                animate=no
                fire_event=no
            [/kill]
            [message]
                speaker=enemy3
                message=_"The cowardly jackal has left us with these monsters! I don't want to die for some stinky town. Let's get out of the fight!"
            [/message]
            {MOVE_UNIT id=enemy3 34 10}
            [kill]
                id=enemy3
                animate=no
                fire_event=no
            [/kill]
            [micro_ai]
                side=3
                ai_type=goto
                action=add
                ca_id=flee
                [filter]
                [/filter]
                #tries to reach the western edge
                [filter_location]
                    x=1
                [/filter_location]
                ca_score=210001
                unique_goals=yes
                ignore_units=yes
            [/micro_ai]
            [micro_ai]
                side=4
                ai_type=goto
                action=add
                ca_id=flee2
                [filter]
                [/filter]
                #tries to reach the western edge
                [filter_location]
                    x=34
                [/filter_location]
                ca_score=210001
                unique_goals=yes
                ignore_units=yes
            [/micro_ai]
            [show_objectives][/show_objectives]
            [/then]
        [/if]
    [/event]

    [event]
        name=last breath
        [filter]
            id=Drake_Leader
        [/filter]
        [message]
            speaker=unit
            message= _ "Uuugh..."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

    [event]
        name=last breath
        [filter]
            id=enemy1
        [/filter]

        [message]
            speaker=Drake_Leader
            message= _ "(putting the blade to the deserter’s throat) Tell them to lay down their weapons and surrender the city. We will take tribute."
        [/message]
        [message]
            speaker=unit
            message= _ "(voice trembling) Sh-shaahena, drake, I'll do what you ask. Just leave me-me alive."
        [/message]
        [message]
            speaker=Drake_Leader
            message= _ "..."
        [/message]
        [message]
            speaker=unit
            message= _ "Lay down your weapons! The city is taken! Stop fighting! The drakes will take the tribute and leave!"
        [/message]
        [kill]
            side=2
            animate=no
            fire_event=no
        [/kill]
    [/event]

    {RAGE_BUFF_EVENTS}
    {RAGE_DESTRUCTIBLE_VILLAGE_EVENT (y=18-28) ()}
[/scenario]

