#textdomain wesnoth-vs


#define REDRAW WML
    [redraw]
        {WML}
    [/redraw] 
#enddef

#define DELAY TIME 
    [delay]
        time={TIME}
    [/delay] 
#enddef

#define TERR_MASK_IN_EVENT NAME X Y
    [terrain_mask]
        x={X}
        y={Y}
        mask={NAME}
    [/terrain_mask]
    [redraw]
    [/redraw]
#enddef

#define TERR_MASK NAME X Y
    [event]
        name=prestart
        {TERR_MASK_IN_EVENT {NAME} {X} {Y}}
    [/event]
#enddef

#define SOUND_LIST:FROZEN_WIND 
frozen-wind-[1~3].wav
#enddef

#define WOSE_GUARDIAN SIDE X Y TERRAIN_PLACE TERRAIN_MOVE

    [event]
    name=prestart 

        [unit]
            type=Wose 
            side={SIDE}
            x,y={X},{Y}
            id=Wose{X}_{Y}
        [/unit]

        [micro_ai]
            side={SIDE}
            ai_type=return_guardian
            action=add

            [filter]
                id=Wose{X}_{Y}
            [/filter]
            return_x,return_y={X},{Y}
        [/micro_ai]

        [terrain]
            x,y={X},{Y}
            terrain={TERRAIN_PLACE}
        [/terrain]
    [/event]

    [event]
    name=side {SIDE} turn end 
    first_time_only=no 

        [if]
            [have_unit]
                id=Wose{X}_{Y}
                x,y={X},{Y} 
            [/have_unit]
            [and]
                [not]
                    [have_unit]
                        [filter_side]
                            [enemy_of]
                                side={SIDE}
                            [/enemy_of]
                        [/filter_side]
                        x,y={X},{Y}
                        radius=1 
                    [/have_unit]
                [/not]
            [/and]
            [then]
                {MODIFY_TERRAIN {TERRAIN_PLACE} {X} {Y}}
            [/then]
        [/if]
    [/event]
    [event]
        name=moveto 
        first_time_only=yes 

            [filter]
                id=Wose{X}_{Y}
            [/filter]

            [sound]
                name=wose-die.ogg 
            [/sound]

            {MODIFY_TERRAIN {TERRAIN_MOVE} {X} {Y}}

            [redraw][/redraw]
    [/event]

#enddef 

#define RETURN_GUARDIAN SIDE TYPE X Y 

    [event]
    name=prestart 

        [unit]
            type={TYPE} 
            side={SIDE}
            x,y={X},{Y}
            id=RGuard{X}_{Y}
        [/unit]

        [micro_ai]
            side={SIDE}
            ai_type=return_guardian
            action=add

            [filter]
                id=RGuard{X}_{Y}
            [/filter]
            return_x,return_y={X},{Y}
        [/micro_ai]
    [/event]
#enddef 

    #define CHECK_LIGHT TIME

        [store_locations]
            terrain=*^Ecf,*^Ebn
            variable=campfires
        [/store_locations]

        [foreach]
            array=campfires
            index_var=i
            [do] 
                [time_area]
                    {TIME}
                    id=campfire_|$this_item.x|_|$this_item.y|
                    x=$this_item.x
                    y=$this_item.y
                [/time_area]     
                [sound_source]
                    id=campfire_|$this_item.x|_|$this_item.y|
                    loop=-1
                    x,y=$this_item.x,$this_item.y
                    sounds=ambient/campfire.ogg
                    full_range=5
                    fade_range=5
                [/sound_source]        
            [/do]
        [/foreach]
    #enddef
